* {
    box-sizing: border-box;
  }

  .bookList img{
      width: 200px;
  }

  .bookList{
    margin: 0 auto;
    width:600px;
    text-align: center;
  }

  .bookList p{
    margin: 0 auto;
    width:500px;
  }